<section class="inner">
	<div class="container">
		<div class="content clearfix">
			<div class="pull-right">
				<span class="pending">Application status <a href="#">pending</a></span>	
				<span class="bottom" data-toggle="modal" data-target="#confirm-pswrd"><button type="button" class="btn notification">Change Password</button></span>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">	
				<div class="title-pageheading">
					<div class="about-border"></div>
					<div class="page-title-text">
						<span class="page-title-bg">Welcome User!</span>
					</div>
				</div>
			</div>
		</div>
		<div class="content clearfix">
			<div class="panel panel-default panel-red">
				<div class="panel-heading">Browse options for You</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-3 col-sm-3 col-xs-12">
							<div class="dashboard-icons">
								
									<span class="browse-icon">
										<a href="<%=crms_path%>">
											<img src="/assets/crm-icon.png">
										</a>
									</span>
									<a href="<%=crms_path%>">
										<button class="btn red-default browse">CRM</button>
									</a>
								</div>
							</div>
							<div class="col-md-3 col-sm-3 col-xs-12">
								<div class="dashboard-icons">
									<span class="browse-icon">
										<a href="<%=packages_path%>">
											<img src="/assets/package-icon.png">
										</a>
									</span>
									<a href="<%=packages_path%>">
										<button class="btn red-default browse">My Packages</button>
									</a>
									</div>
								</div>
								<div class="col-md-3 col-sm-3 col-xs-12">
									<div class="dashboard-icons">
											<span class="browse-icon">
												<a href="<%=edit_suplier_path(current_user)%>">
													<img src="/assets/account-icon.png">
												</a>
											</span>
											<a href="<%=edit_suplier_path(current_user)%>">
												<button class="btn red-default browse">My Account</button>
											</a>
										</div>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-12">
										<div class="dashboard-icons">
											<a href="<%= notifications_path %>">
												<span class="browse-icon"><img src="/assets/offer-icon.png"></span>
												<button  class="btn red-default browse">Notification Offers</button></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<%= render :partial => "users/edit_password" %>