<section class="inner">
  <div class="container">
    <div class="package-border">
      <div class="content clearfix">
        <div class="row">
          <div class="col-md-9 col-sm-8 col-xs-12">
            <h2 class="page-title">Add New Package</h2>
            <h3 class="page-sub-title">Package  - Package Inclusions</h3>
          </div>

        </div>
      </div>

      <div class="content clearfix">
       <ul class="package-list">
        <li ><span>Package Details</span></li>
        <li><span class="active">Transport</span></li>
        <li><span >City Transport</span></li>
        <li><span >Hotels</span></li>
        <li><span >Meals</span></li>
        <li><span >Sightseeing</span></li>
        <li><span >Itinerary</span></li>
        <li><span >Other Inclusion</span></li>
      </ul>

      <div id="myTabContent" class="tab-content  content-tab">
        <div class="tab-pane fade in active" id="transport" data-action ='Edit' >
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 ">
              <div class="header-text">
                <p> Please enter in detailed format the main transportation method to and from the  destination and at destination 
                  transport facility provided </p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12 ">
                <div class="intercity-strip">Intercity Transport</div>
                <div class="header-text intercity">
                  <p> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation </p>
                  </div>
                </div>
              </div>
              <div class="multiple-transport clearfix">
                <div id="accordion2" class="accordion">
                  <%= form_tag update_transport_path(@package), :method => :patch do %>
                  <% @package.transports.order('id').each_with_index do |transport, index|%>
                  <%= fields_for "transports[]", transport do |f| %>
                  <div class="accordion-group">
                    <div class="accordion-heading "> <a href="#collapse_<%=index%>" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle collapsed clearfix "> <%= "#{transport.start} to #{transport.end}".titleize %> <i class="fa fa-chevron-down"></i> </a> </div>
                    
                    <div class="accordion-body collapse" id="collapse_<%=index%>" style="height: 0px;">
                      <%= render :partial => "transports/accordion_inner_form", :locals=> {:f => f, :index => index}%>
                    </div>
                  </div>
                  <% end %>
                  <% end %>
                  
                  <div class="row">  
                    <div class="package-action pkg-action_p">
                      <%= link_to 'Back',edit_package_path(@package),:class=>"btn red-btn save" %>
                      <%= submit_tag 'Save',:class => "btn red-btn save save_tranport_btn"%>
                      <%= submit_tag 'Continue',:class => "btn red-btn save save_tranport_btn"%>
                    </div>
                  </div>
                  
                  <% end %>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


