Hi <%=@email%>, <br><br>


Please find the the feed back given by <%=@detail[:name]%>.

<h3>User Detail :- </h3> <br><br>

		<div class='push_right'>
		<H4>Name :-</H4> <%=@detail[:name]%><br>

		<H4>Email :-</H4> <%=@detail[:email]%><br>

		<H4>Contact no :-</H4> <%=@detail[:contact_no]%><br>
		</div>

<h3>Feedback Info :-</h3 > <br><br>

		<div class='push_right'>
		<H4>Feeback category :-</H4> <%=@detail[:category]%><br>

		<H4>Message :-</H4> <%=@detail[:Message]%><br>
		</div>

Thanks