
				<div class="row">
					<% packages.each do |package|%>
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products" id="<%=(category.split(' ').join('_'))+'_'+package.id.to_s%>">
									<div class="productinfo text-center">
										<div class="produimage">
											<div class="imagebig"><%= image_tag package.pictures.first.image.url,:width => 275, :height => 245%></div>
											<div class="gropicon">
												<ul>
													<%package.holiday_types.first(3).each do |ht|%>
													<li><%=image_tag $holiday_pngs_arr["#{ht}"]%></li>
													<%end%>
												</ul>
											</div>
										</div>
									</div>
									<div class="product-overlay traverscr-s" style="display:none;" id="content_<%=(category.split(' ').join('_'))+'_'+package.id.to_s%>">
										<div class="overlay-content traveloversec" >
											<div class="trvel-sction">
												<ul>
													<li class="view-row travel-flight"><span class="travel-left">Travel</span><span class="travel-right"><%=truncate((all_transport_mode_in package), length: 15)%></span></li>
													<li class="view-row travel-hotels"><span class="travel-left">Hotels</span><span class="travel-right"><%=all_hotel_rating_in package%></span></li>
													<li class="view-row travel-loctransport"><span class="travel-left">Local Transport</span><span class="travel-right"><%=local_transport_mode package%></span></li>
													<li class="view-row travel-meal"><span class="travel-left"> Meals</span><span class="travel-right"><%=truncate((meal_type_in package), length: 15)%></span></li>
													<li class="view-row travel-sseen"><span class="travel-left">Sightseeing</span><span class="travel-right"><%=all_sight_scenes_in(package)%></span></li>
												</ul>
											</div>
											<div class="traveltop-porstion">
												<ul>
													<%package.holiday_types.first(3).each do |ht|%>
													<li><%=ht%></li>
													<%end%>
												</ul>
											</div>
										</div>
									</div>
								</div>

								<div class="choose">
									<div class="produimagedis">

										<% if user_signed_in? %>
										<div class="views-row enqerymale <%=is_enquired?(package) %>"><a data-target="#enquiry-form" data-toggle="modal" href="#" class="package_data" onclick="package_info(this);" data-package-id="<%= package.id %>" data-package-name="<%= package.itinerary_name %>" data-role="<%=current_user.role%>"><span class="icon"></span><span class="right1">Enquire</span></a></div>
										<%else%>
										<div class="views-row enqerymale"><a data-target="#signup_default" data-toggle="modal" href="#" onclick="javascript: alertify.error('You need to sign in as user to enquire!!');"><span class="icon"></span><span class="right1">Enquire</span></a></div>
										<%end%>

										<div class="views-row enqerywistlist <%= package.is_in_wishlist ? 'in-wishlist' : ''%>">
											<a href="#" class="session-data" data-type="my-wishlist" data-package-id="<%= package.id%>" data-signed_in="<%= user_signed_in? ? 'true' : 'false'%>">
												<span class="icon"></span>
												<span class="right1" >My WishList</span>
											</a>
										</div>

										<div class="views-row enqerycomp <%= package.is_in_comparelist ? 'in-wishlist' : ''%>">
											<a href="#" class="session-data" data-type="add-to-compare" data-package-id="<%= package.id%>" data-signed_in="<%= user_signed_in? ? 'true' : 'false'%>">
												<span class="icon"></span>
												<span class="right1" >Add To Compare</span>
											</a>
										</div>
									</div>

									<div class="produplace">
										<div class="leftpart">
											<div class="row-view"><%=truncate((package.itinerary_name ),length: 40)%></div>
											<div class="row-view"><%=truncate((all_cities_in package ),length: 40)%></div>
											<div class="row-view last"><%=truncate((all_holiday_destination_in package),length: 40)%></div>
										</div>
										<div class="rightpart">
											<div class="distancetime">4.5</div>
										</div>
									</div>
									
									<div class="produrate">
										<div class="leftpart">
											<div class="row-view"><span><%=duration_of(package)%></span></div>
											<div class="row-view last"><i class="fa fa-inr"></i> <%= package.price_per_person%></div>
										</div>
										<div class="rightpart">
											<%if package.user.profile.logo.url %>
											<div class="row-view"><%=image_tag package.user.profile.logo.url,:width => 100,:height => 25 unless package.user.profile.nil?%></div>
											<%end%>
											<div class="row-view last"><a href="<%=supplier_detail_path(package.user_id)%>"><%=package.user.name%></a></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
					<%end%>
				</div>