	<!--page ends here-->
	<!--change password password start here-->
	<div class="modal fade" id="confirm-pswrd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header model-head ">
					<button type="button" class="close close-1" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<span class="left-span">Change Password</span>
				</div>
				<%= form_for :user, url: update_password_path, :html => {:class => "form-horizontal"}, method: :patch do  |f| %>
			  <div class="modal-body clearfix">
			    
					<div class="col-md-8 col-md-push-2">
						<div class="form-group">
							<%= f.password_field :current_password, :autocomplete => "off", :class => "form-control", :id => "current_password", :placeholder => "Existing Password"  %>
							<span class="err_current_password_field error" style = "color:red;"></span>
						</div>
					</div>

					<div class="col-md-8 col-md-push-2">
						<div class="form-group">
							<%= f.password_field :password, :autocomplete => "off", :class => "form-control", :id => "password", :placeholder => "New Password"  %>
				    	<span class="err_new_password_field error" style = "color:red;"></span>
						</div>
					</div>

					<div class="col-md-8 col-md-push-2">
						<div class="form-group">
							<%= f.password_field :password_confirmation, :class => "form-control", :id => "password_confirmation", :placeholder => "Confirm Password" %>
				     		<span class="err_confirm_password_field error" style = "color:red;"></span>
			     		</div>
			    </div>

			    <div class="col-md-8 col-md-push-2">
			    <div class="modal-footer model-ftr ">
							<div class="package-action pkg-action_p">
								<%= f.submit "Save", :class => "btn red-btn save change_pass"%>

								<button type="button" class="btn black-btnclose close1 " data-dismiss="modal" aria-label="Close">Cancel</button>
							</div>
			    </div>
			    </div>
					
			  </div>
			  
			    <%end%>
			</div>
		</div>
	</div>

	
	<!--change password ends here-->


	