<section class="inner">
  <div class="container">
    <div class="package-border">
      <div class="content clearfix">
        <div class="row">
          <div class="col-md-9 col-sm-8 col-xs-12">
            <h2 class="page-title">Add New Package</h2>
            <h3 class="page-sub-title">Package  - Package Inclusions</h3>
          </div>
        </div>
      </div>
      <div class="content clearfix">
        <ul class="package-list">
          <li><span>Package Details</span></li>
          <li><span >Transport</span></li>
          <li><span >City Transport</span></li>
          <li><span  class="active">Hotels</span></li>
          <li><span >Meals</span></li>
          <li><span >Sightseeing</span></li>
          <li><span >Itinerary</span></li>
          <li><span >Other Inclusion</span></li>
        </ul>
        <div id="myTabContent" class="tab-content  content-tab">
          <div class="tab-pane fade in active" id="hotel"  >
            <%=nested_form_for @package,url: update_hotel_path(@package)  do |f| %>
            <%= f.fields_for :hotels do |hf| %>
            <%= render 'hotels/hotel_fields', f: hf %>
            <%end%>
            <p><%= f.link_to_add "Add Hotel", :hotels, :class=>"btn red-btn" %></p>
            <div class="row">
              <div class="package-action pkg-action_p">
                <%= link_to 'Back',edit_city_transports_path(@package),:class=>"btn red-btn save" %>
                <%=f.submit "Save",:class=>"btn red-btn save save submit_hotel"%>
                <%=f.submit "Continue",:class=>"btn black-btn save submit_hotel"%>
              </div>
            </div>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>