
<div class="gap"></div>
<footer id="footer"><!--Footer-->

	<div class="footer-widget">
		<div class="container">
			<div class="row">
				<div class="col-sm-2">
					<div class="single-widget">
						<h2>Trip Tiger</h2>
						<ul class="nav nav-pills nav-stacked">
							<li><a href="<%= team_path%>">Team</a></li>
							<li><a href="<%= website_path%>">Website</a></li>
							<li><a href="<%= become_our_partner_path%>">Become our Partner</a></li>
							<li><a href="<%=become_partner_path%>">Become-Partner</a></li>
							<!-- <li><a href="#"data-toggle="modal" data-target="#myenquiry">Enquiry for crm</a></li> -->

						</ul>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="single-widget">
						<h2>About This Site</h2>
						<ul class="nav nav-pills nav-stacked">
							<li><a href="<%=about_us_path%>">About Us</a></li>
							<li><a href="<%= contact_us_path%>">Contact Us</a></li>
							<li><a href="<%=career_path%>">Careers</a></li>
							<li><a href="#">Terms of Use</a></li>
							<li><a href="#">Privacy policy</a></li>

						</ul>
					</div>
				</div>

				<div class="col-sm-2">
					<div class="single-widget">
						<h2>Partner Program</h2>
						<ul class="nav nav-pills nav-stacked">
							<li><a href="<%=our_partner_path%>">Our partner</a></li>
							<li><a href="<%=affiliate_program_path%>">Affiliate program</a></li>
							<li><a href="<%=partner_model_path%>">Partner model</a></li>
							<!-- <li><a href="#">Copyright</a></li> -->
						</ul>
					</div>
				</div>

				<div class="col-sm-2">
					<div class="single-widget">
						<h2>More Links</h2>
						<ul class="nav nav-pills nav-stacked">
							<li><a href="#">Sitemap</a></li>
							<li><a href="#" data-toggle="modal" data-target="#myModal1">Complaints</a></li>
							<li><a href="#" data-toggle="modal" data-target="#myModal1">Feedback</a></li>
						</ul>
					</div>
				</div>

				<div class="col-sm-3 col-sm-offset-1 last-social">
					<div class="single-widget">
						<h2>Follow Us</h2>
						<ul class="nav nav-pills nav-stacked">
							<li class="fb-icon"><a href="https://www.facebook.com">fb</a></li>
							<li class="twitter-icon"><a href="https://twitter.com/">tw</a></li>
							<li class="google-icon"><a href="https://plus.google.com/">gplus</a></li>
						</ul>
					</div>
				</div>

			</div>
		</div>
	</div>

	<div class="footer-bottom">
		<div class="container">
			<div class="row">
				<div class="copyright">Copyright © 2015</div>
			</div>
		</div>
	</div>

</footer>

<%= render :partial => "home/feedback" %>